[project]
name = "matrix-api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.121.0",
    "numpy",
]

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]
